@import '../../styles/helpers.scss';

.container {
  max-width: 360px;
  padding-inline: var(--gutter);
  margin: 40px auto;

  @include breakpoint(SM) {
    max-width: $BP_SM;
  }

  @include breakpoint(MD) {
    max-width: $BP_MD;
  }

  @include breakpoint(LG) {
    max-width: $MAX_WIDTH_NARROW;
  }
}

.title {
  text-align: center;
  color: $WHITE;
}

.subTitle {
  text-align: center;
  color: $WHITE;
}

.timeButtonContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.sportButtonContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px;
}

.totalsAndPieChartContainer {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr 1fr;

  @include breakpoint(MD) {
    grid-template-columns: 1fr;
    grid-row: 1fr;
  }
}

.totalsContainer {
  text-align: center;
  grid-row: 1;

  @include breakpoint(MD) {
    text-align: start;
  }
}

.pieChartContainer {
  grid-row: 2;

  @include breakpoint(MD) {
    grid-row: 1;
  }
}

.totalsTitle {}

.totalsLabel {
  color: $CYAN;
}

.activitiesTitle {
  text-align: center;
  margin: 20px;
}

.activityColumns {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-row: 1;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.stat {
  font-family: var(--font-ubuntu-mono);
  // font-weight: $FONT_WEIGHT_BOLD;
}

.sportButton {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 8px;
  padding: 10px;

  >span {
    transition: color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in;
    margin-right: 5px;

    @include breakpoint(MD) {
      margin-right: 20px;
    }
  }

  &:active {
    color: $ORANGE;
  }

  &:hover,
  &:active {
    color: $ORANGE;
    border: 1px solid $ORANGE;

    >span {
      color: $ORANGE;
      transition: color 0.3s ease-in;
      -webkit-transition: color 0.3s ease-in;
    }
  }

  svg:hover {
    fill: $ORANGE;
  }
}

.sportButton_active {
  color: $ORANGE;
  border: 1px solid $ORANGE;

  >span {
    color: $ORANGE;
  }

  >svg {
    fill: $ORANGE;
  }
}

.sportButton_inactive {
  color: $CYAN;
  border: 2px solid $CYAN_3;

  >span {
    color: $CYAN;
  }

  >svg {
    fill: $CYAN;
  }
}