@use '~reset-css/sass/reset';
@use 'variables.scss';
@use 'mixins.scss';
@use 'helpers.scss';
@use 'elements.scss';
@use 'typography/Heading.module.scss';
@use 'typography/Text.module.scss';

:root {
  --gutter: 24px;

  @include mixins.breakpoint(MD) {
    --gutter: 32px;
  }

  @include mixins.breakpoint(XL) {
    --gutter: 64px;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
