$WHITE: #ffffff;
$CYAN: #00ffee;
$CYAN_2: #00aa9f;
$CYAN_3: #00554f;
$ORANGE: #ff8800;
$BLUE: #2200ff;
$RED: #ff0011;
$PURPLE: #ee00ff;
$VIOLET: #6e00ff;
$YELLOW: #ffee00;

$GREY_1: #1e2022;
$GREY_2: #697077;
$GREY_3: #b4c0cc;

$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_REGULAR: 400;

// Breakpoints
$BP_SM: 480px;
$BP_MD: 768px;
$BP_LG: 1024px;
$BP_XL: 1200px;

// Measurements
$MAX_WIDTH: 1500px;
$MAX_WIDTH_HEADER: 1200px;
$MAX_WIDTH_NARROW: 900px;
$HEADER_HEIGHT: 120px;

$BASE_FONT_SIZE: 16;
$Z_INDEX_HEADER: 2;
$Z_INDEX_MODAL: 3;
