$WHITE: #ffffff;
$GREY_11: #f8f8f8; //background rectangles
$GREY_10: #efefef;
$GREY_9: #e7e7e7;
$GREY_8: #d8d8d8;
$GREY_7: #c7c7c7;
$GREY_6: #b6b6b6;
$GREY_5: #8a8a8a;
$GREY_4: #5e5e5e;
$GREY_3: #454545;
$GREY_2: #2e2e2e;
$GREY_1: #191919;

$WARM_1: #ff5400;
$WARM_2: #ff6d00;
$WARM_3: #ec7200;
$WARM_4: #ff9100;
$WARM_5: #ff9e00;

$YELLOW_1: #efba00;
$YELLOW_2: #ffca0e;
$YELLOW_3: #ffd542;
$YELLOW_4: #ffdb5b;
$YELLOW_5: #ffdb5b;

$TEAL_1: #00857b;
$TEAL_2: #0ca69b;
$TEAL_3: #1db7ac;
$TEAL_4: #37d3c8;
$TEAL_5: #4defe3;

$COOL_1: #03045e;
$COOL_2: #023e8a;
$COOL_3: #0077b6;
$COOL_4: #0096c7;
$COOL_5: #00b4d8;

$ARROW_ICON_ORANGE_BUTTON: #fcd888; //not on design, on primary buttons

$FONT_WEIGHT_BLACK: 900;
$FONT_WEIGHT_SEMI_BOLD: 600;

// Breakpoints
$BP_SM: 480px;
$BP_MD: 768px;
$BP_LG: 1024px;
$BP_XL: 1200px;

// Measurements
$MAX_WIDTH: 1500px;
$MAX_WIDTH_HERO: 1200px;
$MAX_WIDTH_NARROW: 900px;
$HEADER_HEIGHT: 120px;

$BASE_FONT_SIZE: 16;
$Z_INDEX_HEADER: 2;
$Z_INDEX_MODAL: 3;
