@import '../../styles/helpers.scss';

.container {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 15px;
}
.title:hover {
  color: $CYAN_2;
}

.preview {
  margin-bottom: 5px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.date {
  font-style: italic;
  color: $CYAN_2;
}

.titleUnderline {
  width: auto;
  height: 2px;
  border-radius: 6px;
  background-color: $CYAN_3;
}
