@use '../helpers.scss';
@use '../mixins.scss';
@use '../variables.scss';

.buttonContainer {
  max-width: 360px;
  padding-inline: var(--gutter);
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;

  @include mixins.breakpoint(SM) {
    max-width: variables.$BP_SM;
  }

  @include mixins.breakpoint(MD) {
    max-width: variables.$BP_MD;
  }

  @include mixins.breakpoint(LG) {
    max-width: variables.$MAX_WIDTH_NARROW;
    padding-inline: 0;
  }
}
