@use '../variables.scss';

.container {
  padding-inline: var(--gutter);
  margin: 0 auto;
  max-width: variables.$MAX_WIDTH;
}
.row {
  margin-bottom: 100px;
}
.buttonContainer {
  margin: 0 auto;
}
