@use 'sass:math';
@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.container {
  padding: 10px var(--gutter);
  max-width: 360px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;

  @include mixins.breakpoint(MD) {
    max-width: variables.$BP_SM;
  }

  @include mixins.breakpoint(LG) {
    max-width: variables.$BP_MD;
    padding-inline: 0;
  }
}

.fieldset {
  display: grid;
  gap: 20px;
}

.required::after {
  content: '\00a0\002A';
  color: variables.$ORANGE;
}

.inputLabel {
  @include mixins.fontSize(20);
  font-weight: variables.$FONT_WEIGHT_REGULAR;
  line-height: math.div(29px, 24px);
  margin: 10px 0;
  display: block;
  color: variables.$CYAN;

  @include mixins.breakpoint(LG) {
    @include mixins.fontSize(24);
  }
}

.input,
.textArea {
  @include mixins.fontSize(18);
  background-color: variables.$WHITE;
  border-radius: 15px;
  border: none;
  display: block;
  font-weight: variables.$FONT_WEIGHT_REGULAR;
  line-height: math.div(44px, 24px);
  padding: 18px 20px;

  @include mixins.breakpoint(LG) {
    @include mixins.fontSize(22);
    padding: 20px 25px;
  }

  &:focus {
    background-color: variables.$WHITE;
  }
}

.buttonContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
}

.thanksModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modalContainer {
  background-color: variables.$GREY_1;
  padding-inline: var(--gutter);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanksText {
  color: variables.$CYAN;
  text-align: center;
}
