@use 'sass:math';
@use '../helpers.scss';
@use '../mixins';
@use '../variables';

@mixin text {
  font-weight: variables.$FONT_WEIGHT_REGULAR;
}

.textXl {
  @include text;
  @include mixins.fontSize(24);
  line-height: math.div(64px, 48px);

  @include mixins.breakpoint(MD) {
    @include mixins.fontSize(30);
  }

  @include mixins.breakpoint(LG) {
    @include mixins.fontSize(38);
  }
}

.textLg {
  @include text;
  @include mixins.fontSize(18);
  line-height: math.div(52px, 36px);

  @include mixins.breakpoint(MD) {
    @include mixins.fontSize(22);
  }

  @include mixins.breakpoint(LG) {
    @include mixins.fontSize(28);
  }
}

.textMd {
  @include text;
  @include mixins.fontSize(16);
  line-height: math.div(44px, 24px);

  @include mixins.breakpoint(MD) {
    @include mixins.fontSize(18);
  }

  @include mixins.breakpoint(LG) {
    @include mixins.fontSize(22);
  }
}

.textSm {
  @include text;
  @include mixins.fontSize(16);
  line-height: math.div(32px, 20px);

  @include mixins.breakpoint(MD) {
    @include mixins.fontSize(18);
  }

  @include mixins.breakpoint(LG) {
    @include mixins.fontSize(20);
  }
}

.textXs {
  @include text;
  @include mixins.fontSize(16);
  line-height: math.div(22px, 18px);

  @include mixins.breakpoint(MD) {
    @include mixins.fontSize(16);
  }

  @include mixins.breakpoint(LG) {
    @include mixins.fontSize(18);
  }
}
