@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.container {
  max-width: 360px;
  padding-inline: var(--gutter);
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include mixins.breakpoint(SM) {
    max-width: variables.$BP_SM;
  }

  @include mixins.breakpoint(MD) {
    max-width: variables.$BP_MD;
  }

  @include mixins.breakpoint(LG) {
    max-width: variables.$MAX_WIDTH_NARROW;
    padding-inline: 0;
  }
}
.summary {
  margin-bottom: 20px;
}
.imageContainer {
  margin: 0 auto;
}
.imageContainer img {
  border-radius: 10px;
  border: 5px solid variables.$CONTRAST_TO_GREY !important;
  width: 100%;
  height: auto;
}
.caption {
  align-self: flex-start;
  font-style: italic;
}
